共學校/知識庫製作與行銷應用.json
{"createdAt":"2025-06-03T08:04:24.231Z","updatedAt":"2025-06-03T08:18:04.994Z","id":"maNckumyLFS4jF3B","name":"知識庫製作與行銷應用","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,120],"id":"d57129f1-f4ab-42cb-8d97-f87f02ecdc38","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1fkYuhIjGPl4vSyiMPDdu66opGWfySAf-d0735YOMQSE","mode":"list","cachedResultName":"心智元簡介-Slack-NotebookLM-Brian版","cachedResultUrl":"https://docs.google.com/document/d/1fkYuhIjGPl4vSyiMPDdu66opGWfySAf-d0735YOMQSE/edit?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-100,140],"id":"4a18ba35-a6ad-445b-b5ef-1bbd5a5088c9","name":"Google Drive"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[220,-20],"id":"7356fdb3-7fde-4596-83b8-b632f46849f5","name":"Supabase Vector Store"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[420,200],"id":"a3a21a57-db0a-4623-b92d-6f59758bddc7","name":"Default Data Loader"},{"parameters":{"chunkSize":700,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[520,400],"id":"6f258ee7-fe63-4025-a3f1-ff1b63b6c234","name":"Recursive Character Text Splitter"},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[280,200],"id":"e0fe97b7-4033-44f9-b9db-b018e8fb21ba","name":"Embeddings Google Gemini"},{"parameters":{"content":"### Slack POSTs to Webhook on every message so we need to filter-out bot messages","height":365,"width":483},"id":"221ba1f1-5f8b-4c13-bf07-a956593f3a0d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-380,760],"typeVersion":1},{"parameters":{"content":"### Tools which Agent can use to accomplish the task\n","height":228,"width":293},"id":"03db3731-be17-45c6-bc34-db579bb7094a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[760,1180],"typeVersion":1},{"parameters":{"content":"### Conversation history is stored in memory using channel id as key","height":233,"width":288},"id":"d0f51025-66ca-4fd7-9c64-44d9fb421ecd","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[440,1180],"typeVersion":1},{"parameters":{"content":"### The chat LM to process the prompt","height":233,"width":260},"id":"33bcd80b-e2b6-4831-b7e4-494c9de5b011","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[160,1180],"typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Slack Trigger').item.json.client_msg_id }}__gilfoyle","contextWindowLength":30},"id":"1c394e26-92fd-4522-8bd1-42da3fa5000e","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[520,1240],"typeVersion":1.3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"1def7344-ce55-450d-a85a-468f746fe31f","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $('Slack Trigger').event.bot_id}}","rightValue":""}],"combinator":"and"},"options":{}},"id":"97095a48-9c99-4ccf-a1e5-13a4ece69e29","name":"Is user message?","type":"n8n-nodes-base.if","position":[-160,920],"typeVersion":2.2},{"parameters":{},"id":"d96ce4cc-8f92-4f41-bca9-b7928a5fc718","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[-120,1200],"typeVersion":1},{"parameters":{},"id":"9a63c775-2b92-46c1-84c4-c5b96d51c6e0","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","position":[840,1260],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('Slack Trigger').item.json.channel }}","mode":"id"},"text":"={{ $json.output || $json.error}}","otherOptions":{"includeLinkToWorkflow":false,"thread_ts":{"replyValues":{"thread_ts":"={{ $('Slack Trigger').item.json.ts }}","reply_broadcast":true}}}},"id":"88fc65b0-51ed-4eec-967a-4c4367e35609","name":"Slack","type":"n8n-nodes-base.slack","position":[1140,820],"webhookId":"e0f8b8ad-7126-487c-88e2-b624dfd16678","typeVersion":2.3,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[260,1280],"id":"79bd29a8-dbde-4ebe-8c1b-771f929c2452","name":"OpenRouter Chat Model"},{"parameters":{"text":"={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text }}","options":{"systemMessage":"=你是心智元資料庫的作者，所有回答都會以心智元資料庫為主要資料依據。如果資料庫沒有對應答案，可以參考Wikipedia，但必須說明。\n\n除此之外，你也是一位熱愛閱讀維基百科與各種科普知識的好學者，常提到如「擴增集智」、「ACIS」、「人心智能」等字詞，擅長協助使用者探討團結再生經濟與集體智能等主題。\n\n請根據使用者的語言來進行回答（如使用者為中文，則使用繁體中文）。\n\n使用者輸入：『{{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text }} 』  \n請先判斷使用者語言，並以該語言作答。\n\n然而，所有回答**必須遵循以下回應格式**：\n\nRESPONSE FORMAT INSTRUCTIONS:\n1. 語言：請使用使用者原始提問的語言。\n2. 資料來源：若涉及「心智元資料庫」或「Wikipedia」，**務必查詢該資料庫並註明引用**。\n3. 回答結構：\n   - 首段：簡明摘要（回答核心問題）\n   - 中段：詳細解釋與背景脈絡\n   - 結尾：延伸概念建議（如擴增集智、集體智能、人心智能等）"}},"id":"0f5597e1-01f9-461b-8599-7ae10ec277b4","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.1,"position":[360,800],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"trigger":["app_mention"],"watchWorkspace":true,"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-900,680],"id":"ca3c5bb4-f09d-48da-8bf3-c49d4ba3e42b","name":"Slack Trigger","webhookId":"ff632df4-b208-4a82-a7ee-e11eb7c4a32d"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1240,1260],"id":"d610a72b-6c10-4a0f-a13a-5b916584ab88","name":"OpenRouter Chat Model1"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $json.channel}}","mode":"id"},"text":"=已收到訊息，處理中，請等待。","otherOptions":{"includeLinkToWorkflow":false,"thread_ts":{"replyValues":{"thread_ts":"={{ $json.ts }}","reply_broadcast":true}}}},"id":"aa1021a9-3bcf-4fdc-9849-fd833a42fc73","name":"Slack1","type":"n8n-nodes-base.slack","position":[300,540],"webhookId":"e0f8b8ad-7126-487c-88e2-b624dfd16678","typeVersion":2.3},{"parameters":{"description":"心智元資料庫"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[1040,1120],"id":"9adc23d0-c2fc-4809-9743-74fde4644801","name":"心智元資料庫"},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1040,1440],"id":"21da8d85-92f8-4291-a054-9a670fbaa07b","name":"心智元資料庫1"},{"parameters":{"content":"### Send agent's output as Slack message\n","height":243,"width":460},"id":"e351d4de-03c9-458b-91ae-1540e6fd0076","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[220,720],"typeVersion":1},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1100,1640],"id":"ba35792b-fc95-44df-8f97-87546d9a1c1b","name":"Embeddings Google Gemini1"},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[980,60],"id":"7133da0b-0580-4919-b804-1c55e36ba66d","name":"n8n Trigger"},{"parameters":{"content":"# 本工作流尚未完成，僅供參考","height":100,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-380],"id":"bcf33297-b7db-45a3-8e5e-1376037033d2","name":"Sticky Note5"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"maNckumyLFS4jF3B","mode":"list","cachedResultName":"知識庫製作與行銷 (#maNckumyLFS4jF3B)"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1220,60],"id":"674a8499-b83e-4611-baa4-86bae974d2f0","name":"n8n","credentials":{"n8nApi":{"id":"W41PrqEfM4WamItM","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/021up","mode":"url"},"repository":{"__rl":true,"value":"n8n-learning","mode":"list","cachedResultName":"n8n-learning","cachedResultUrl":"https://github.com/021up/n8n-learning"},"filePath":"共學校/知識庫製作與行銷應用.json","fileContent":"={{$json.toJsonString()}}","commitMessage":"=最後更新於 {{ $json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1420,120],"id":"4bfa9663-7fe4-40aa-ade0-d456ac287b49","name":"GitHub","webhookId":"43b8ff7d-a277-494d-8ff9-a57167f103c0","credentials":{"githubApi":{"id":"0X05wI5bHtDL4JNm","name":"GitHub account-021up"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Is user message?":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Slack","type":"main","index":0}],[{"node":"Slack","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"Slack1","type":"main","index":0},{"node":"Is user message?","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"心智元資料庫","type":"ai_languageModel","index":0}]]},"心智元資料庫":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"心智元資料庫1":{"ai_vectorStore":[[{"node":"心智元資料庫","type":"ai_vectorStore","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"心智元資料庫1","type":"ai_embedding","index":0}]]},"n8n Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Slack Trigger":[{"json":{"user":"U03H46NKE5S","type":"app_mention","ts":"1747302887.923309","client_msg_id":"4a9aa483-cac4-45ad-bb4f-3421cebcc4f3","text":"<@U08QDT9SF8T> 擴增集智（ACIS）可以提升集體決策和資源分配的效率，如何能夠實質協助參與團結經濟中個別組織與個體?","team":"T03GM7ZGQH5","blocks":[{"type":"rich_text","block_id":"0Sqc3","elements":[{"type":"rich_text_section","elements":[{"type":"user","user_id":"U08QDT9SF8T"},{"type":"text","text":" 擴增集智（ACIS）可以提升集體決策和資源分配的效率，如何能夠實質協助參與團結經濟中個別組織與個體?"}]}]}],"channel":"C08PWEAH6NT","event_ts":"1747302887.923309"}}]},"versionId":"cb8d9746-ac0b-4f49-8a00-b01c868118a0","triggerCount":0,"shared":[{"createdAt":"2025-06-03T08:04:24.231Z","updatedAt":"2025-06-03T08:04:24.231Z","role":"workflow:owner","workflowId":"maNckumyLFS4jF3B","projectId":"6NV7foKyOeJG8Mz6","project":{"createdAt":"2025-04-18T06:42:13.029Z","updatedAt":"2025-04-18T06:48:52.846Z","id":"6NV7foKyOeJG8Mz6","name":"Huanry Huang <physics5372@hotmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-04-18T06:42:13.029Z","updatedAt":"2025-04-18T06:42:13.029Z","role":"project:personalOwner","userId":"2a8d2e0c-a46c-411b-93b7-52bbdc416950","projectId":"6NV7foKyOeJG8Mz6","user":{"createdAt":"2025-04-18T06:42:10.386Z","updatedAt":"2025-05-20T14:27:14.856Z","id":"2a8d2e0c-a46c-411b-93b7-52bbdc416950","email":"physics5372@hotmail.com","firstName":"Huanry","lastName":"Huang","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-18T06:48:59.369Z","personalization_survey_n8n_version":"1.88.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"OX0RpYrO2B5tf1W0","userActivatedAt":1747199833701,"npsSurvey":{"responded":true,"lastShownAt":1747751226907}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-05-14T05:19:53.651Z","updatedAt":"2025-05-14T05:19:53.651Z","id":"eLruhxCy7igjqUZU","name":"共學校"}]}