workflows/共學校/JmnI5eXTJB70aVuO.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert to File 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-12T06:21:23.979Z",
  "id": "JmnI5eXTJB70aVuO",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "網頁資訊提取入門-共學校",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -20
      ],
      "id": "d801a8b1-a314-4901-924a-863a810e1b73",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://books.toscrape.com/index.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        -20
      ],
      "id": "1af9b670-f733-478b-8947-b6ea695ebab0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div.image_container > a > img",
              "returnValue": "attribute",
              "attribute": "alt",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": "div.image_container > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "img",
              "cssSelector": "div.image_container > a > img",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        800,
        100
      ],
      "id": "d6948ecc-93bf-4388-890a-1e26595ec340",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }} 是一個書的網頁，幫我整理這個網頁每本書的標題、網址、圖片網址"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        500,
        440
      ],
      "id": "5ce2a4e5-239e-4e31-8c81-01d5bbec89a9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        600,
        660
      ],
      "id": "644d050d-8179-4f00-8163-48791a376c06",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cDZzak9LVmWuB9c8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"results\": {\n      \"type\": \"array\",\n      \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"title\": {\n              \"type\": \"string\"\n            },\n            \"image_url\": {\n              \"type\": \"string\"\n            },\n            \"url\": {\n              \"type\": \"string\"\n            }           \n           }\n      }\n  }\n}",
        "options": {
          "systemPromptTemplate": "輸入的資訊包含不同書的標題（title）、網址（url）、圖片網址（image_url），幫我解析出相關資訊。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        860,
        440
      ],
      "id": "b68b578b-8f7f-4f67-bbcf-5cd2ac91fd0a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        960,
        660
      ],
      "id": "36968120-982f-47c0-8d9f-dba2924c421c",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "cDZzak9LVmWuB9c8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1640,
        440
      ],
      "id": "1a1a1804-e8c1-42b0-9196-344a191076eb",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.books",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1220,
        440
      ],
      "id": "526d5571-6cdf-4438-b99a-42ab6bcbff32",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "## 方法二：使用第三方工具，例如LLM\n",
        "height": 580,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        340
      ],
      "id": "fb6948b0-8549-4128-814c-00857a656f8b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 回家作業（依照難度順序排列）\n\n0. 上傳HW_1.json檔，看到作業單。（就是這裡）\n1. 運行程式，下載『Convert to File 1』生出的檔案，打開檔案截圖發到群內。\n2. 設置OpenRouter的Credential，運行程式，下載『Convert to File 2』生出的檔案，打開檔案截圖發到群內。\n3. 用方法二抓取 https://lu.ma/taipei 網頁上的活動標題、活動鏈結、活動圖片網址，下載csv檔截圖發到群內。\n4. 用方法一抓取 https://lu.ma/taipei 網頁上的活動標題、活動鏈結、活動圖片網址，下載csv檔截圖發到群內。",
        "height": 280,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        180
      ],
      "id": "e2d64209-6ce9-4227-b9fc-2d5fbd6406b1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1640,
        80
      ],
      "id": "9d728cd8-c58e-484f-b80c-1022ddc8f6fc",
      "name": "Convert to File 1"
    },
    {
      "parameters": {
        "content": "## 啟動流程\n",
        "height": 280,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -120
      ],
      "id": "1114eac4-e2a1-44a4-8c75-6261439da49c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 獲取網頁內容\n",
        "height": 280,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        -120
      ],
      "id": "4f65a7c9-0bfb-416d-a308-84519285443e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 資料輸出（下載）\n",
        "height": 800,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        -120
      ],
      "id": "2e1cbc7e-b13d-45f9-a00e-53473b32e97e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 資料解析\n",
        "height": 1060,
        "width": 1160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        -120
      ],
      "id": "4ad41310-6a45-42b9-8028-2d2423976c63",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 方法一：不使用第三方工具\n",
        "height": 340,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        -20
      ],
      "id": "a9e3ec20-c991-40e1-a265-9607d635f733",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 各種資源\n- [模板，可以下載json檔上傳使用，或是透過『https://{自己的n8n域名}/templates/{模板編號}』使用](https://n8n.io/workflows/)\n- [AI助手](https://chatgpt.com/g/g-SVatmGSdQ-n8n-assistant-by-nskha)\n- [deepwiki 工具](http://deepwiki.com/n8n-io/n8n)",
        "height": 140,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        480
      ],
      "id": "2998d905-c736-4b49-a9a0-bf1513518340",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## 2025/05/14 [【 共學校unylearn 一起學】告別重複！打造你的第一個 n8n 自動化工作流 | 部署 & 體驗](https://lu.ma/9ejpx5gi)\n\n### 學習目標（體驗部分）\n- 學習建立工作流\n- 學習如何設置參數以及Credential\n- 學習如何使用他人的工作流",
        "height": 240,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        -80
      ],
      "id": "98205a72-5cc5-4fba-a783-9f8918279bc9",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-14T05:19:53.651Z",
      "updatedAt": "2025-05-14T05:19:53.651Z",
      "id": "eLruhxCy7igjqUZU",
      "name": "共學校"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-14T05:19:58.577Z",
  "versionId": "3a9be441-091e-49df-8b51-203b6c1e3b33"
}