workflows/共學校/YisneqN9Ahii9N4s.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert to File 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FireCrawl": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FireCrawl-exc": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-14T02:10:41.174Z",
  "id": "YisneqN9Ahii9N4s",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "網頁資訊提取入門-MCP測試",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -20
      ],
      "id": "6598849f-81ef-4cb1-91bf-a1e1866e5810",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://books.toscrape.com/index.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        -20
      ],
      "id": "48f63d2d-cf96-4eba-94bd-f1228c7785f5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div.image_container > a > img",
              "returnValue": "attribute",
              "attribute": "alt",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": "div.image_container > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "img",
              "cssSelector": "div.image_container > a > img",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        800,
        100
      ],
      "id": "fb459298-12f7-41e3-b81e-23bc221737c9",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }} 是一個書的網頁，幫我整理這個網頁每本書的標題、網址、圖片網址"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        500,
        440
      ],
      "id": "3e9bbacc-5206-4634-8af3-79ffab8681b4",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        600,
        660
      ],
      "id": "4dde0538-2ba1-4f8f-a5c1-8259bf8953a6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cDZzak9LVmWuB9c8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"results\": {\n      \"type\": \"array\",\n      \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"title\": {\n              \"type\": \"string\"\n            },\n            \"image_url\": {\n              \"type\": \"string\"\n            },\n            \"url\": {\n              \"type\": \"string\"\n            }           \n           }\n      }\n  }\n}",
        "options": {
          "systemPromptTemplate": "輸入的資訊包含不同書的標題（title）、網址（url）、圖片網址（image_url），幫我解析出相關資訊。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        860,
        440
      ],
      "id": "7d7d50ee-d07a-405c-b70e-d15a306b35b5",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        960,
        660
      ],
      "id": "8337c211-2546-4266-9c89-02e728ee5195",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "cDZzak9LVmWuB9c8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1640,
        440
      ],
      "id": "eb3b9842-c935-42aa-9a4f-19240f96493f",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.books",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1220,
        440
      ],
      "id": "2571e761-7527-4430-a2ba-4a38692e7030",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "## 方法二：使用第三方工具，例如LLM\n",
        "height": 580,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        340
      ],
      "id": "d9abff70-ece6-4730-97f5-afd9e349a030",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 回家作業（依照難度順序排列）\n\n0. 上傳HW_1.json檔，看到作業單。（就是這裡）\n1. 運行程式，下載『Convert to File 1』生出的檔案，打開檔案截圖發到群內。\n2. 設置OpenRouter的Credential，運行程式，下載『Convert to File 2』生出的檔案，打開檔案截圖發到群內。\n3. 用方法二抓取 https://lu.ma/taipei 網頁上的活動標題、活動鏈結、活動圖片網址，下載csv檔截圖發到群內。\n4. 用方法一抓取 https://lu.ma/taipei 網頁上的活動標題、活動鏈結、活動圖片網址，下載csv檔截圖發到群內。",
        "height": 280,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        180
      ],
      "id": "4bb4168f-53e9-4487-9f1a-7f46b9f095ed",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1640,
        80
      ],
      "id": "85a4007d-4f67-4c7e-bfc3-781aeea94ad4",
      "name": "Convert to File 1"
    },
    {
      "parameters": {
        "content": "## 啟動流程\n",
        "height": 280,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -120
      ],
      "id": "2fb7e854-ba5c-461b-b248-cd9bc1b1fb90",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 獲取網頁內容\n",
        "height": 280,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        -120
      ],
      "id": "4b21b8bc-4349-4c06-a66b-7cb46e57f59f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 資料輸出（下載）\n",
        "height": 800,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        -120
      ],
      "id": "327ca9ba-f199-4cda-86e3-91d4467e7eba",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 資料解析\n",
        "height": 1060,
        "width": 1160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        -120
      ],
      "id": "d800251e-3f78-4f3c-868a-0f1f3af7a537",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 方法一：不使用第三方工具\n",
        "height": 340,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        -20
      ],
      "id": "e7c95295-fe6a-4a3e-8724-5bf1175d07b4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 各種資源\n- [模板，可以下載json檔上傳使用，或是透過『https://{自己的n8n域名}/templates/{模板編號}』使用](https://n8n.io/workflows/)\n- [AI助手](https://chatgpt.com/g/g-SVatmGSdQ-n8n-assistant-by-nskha)",
        "height": 140,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        480
      ],
      "id": "5be9d830-9c43-40dd-ab13-7086f848c058",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## 2025/05/14 [【 共學校unylearn 一起學】告別重複！打造你的第一個 n8n 自動化工作流 | 部署 & 體驗](https://lu.ma/9ejpx5gi)\n\n### 學習目標（體驗部分）\n- 學習建立工作流\n- 學習如何設置參數\n- 學習如何使用他人的工作流",
        "height": 240,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        -80
      ],
      "id": "fda83056-d4c1-4a0d-809f-231a345d8844",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=擷取連結中所有的活動，包含標題、鏈結、圖片網址。並且進入每一個網址，去整理活動的內容。\n\n整理成一則有趣且能吸引關注的社群貼文，來介紹接下來有的各種活動。\n連結網址：{{ $json.chatInput }}\n",
        "options": {
          "systemMessage": "你是一位樂於助人的助理。\n\n請先透過 listTools 取得工具列表，再依照需求選擇對應工具，最後使用 executeTool 執行所選工具並提供相應參數。\n\n使用playwright工具以擷取連結／網站內容。\n\n回答時，直接回答，不用經過用戶確認。\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        480,
        1180
      ],
      "id": "2039b146-dbf9-4984-bb73-fb390d8345c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        1180
      ],
      "id": "a301a32d-7d34-40be-aa81-db411881ed3a",
      "name": "When chat message received",
      "webhookId": "91f37149-4dd1-455a-8a4a-563154f67f2b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        660,
        1560
      ],
      "id": "51f2e9e6-9382-4a37-afae-0d2b4fab9342",
      "name": "FireCrawl",
      "credentials": {
        "mcpClientApi": {
          "id": "uoDmVVqe4Wz4w64K",
          "name": "Firecrawl-huanry.mic"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        760,
        1500
      ],
      "id": "094d3935-a242-4a8d-8081-ed717e697439",
      "name": "FireCrawl-exc",
      "credentials": {
        "mcpClientApi": {
          "id": "uoDmVVqe4Wz4w64K",
          "name": "Firecrawl-huanry.mic"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        520,
        1400
      ],
      "id": "3c1c2602-7645-400f-aa5e-491f1dbfa836",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "WIFkIFE72dn6yEZ0",
          "name": "OpenRouter-Huanry-paid"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-14T05:19:53.651Z",
      "updatedAt": "2025-05-14T05:19:53.651Z",
      "id": "eLruhxCy7igjqUZU",
      "name": "共學校"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-18T04:47:04.474Z",
  "versionId": "337f54a8-4dfa-4840-ba80-0b6a748ad0ab"
}