workflows/c4JR52NrlCQNW9EL.json
{
  "active": false,
  "connections": {
    "Get Blog": {
      "main": [
        [
          {
            "node": "Extract Article URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Combine Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Article": {
      "main": [
        [
          {
            "node": "Extract Article Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out URLs": {
      "main": [
        [
          {
            "node": "Latest Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Latest Articles": {
      "main": [
        [
          {
            "node": "Get Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Articles": {
      "main": [
        [
          {
            "node": "Capture Existing Article Structure",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Voice Characteristics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Voice Characteristics",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Content Generation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Capture Existing Article Structure",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article URLs": {
      "main": [
        [
          {
            "node": "Split Out URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Content": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Article Instruction": {
      "main": [
        [
          {
            "node": "Content Generation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation Agent": {
      "main": [
        [
          {
            "node": "Save as Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Style & Brand Voice": {
      "main": [
        [
          {
            "node": "New Article Instruction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Voice Characteristics": {
      "main": [
        [
          {
            "node": "Article Style & Brand Voice",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Existing Article Structure": {
      "main": [
        [
          {
            "node": "Article Style & Brand Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-02T23:21:13.845Z",
  "id": "c4JR52NrlCQNW9EL",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {},
      "id": "f6d1ae62-c5bf-48c3-9671-91a10c7c1e4d",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -4080,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7bed641d-cf3e-43e5-8121-9c914a449dae",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1060,
        1260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "337a1ad0-56ee-4367-aa54-0369c0583e4e",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        480,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2280193f-66bc-4aa1-9b66-bc341bee1a54",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1220,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "=### Analyse the given content\n\n{{ $json.data.map(item => item.replace(/\\n/g, '')).join('\\n---\\n') }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"array\",\n    \"items\": {\n      \"type\": \"object\",\n    \t\"properties\": {\n          \"characteristic\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" },\n          \"examples\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n        }\n\t}\n}",
        "options": {
          "systemPromptTemplate": "You help identify and define a company or individual's \"brand voice\". Using the given content belonging to the company or individual, extract all voice characteristics from it along with description and examples demonstrating it."
        }
      },
      "id": "1c5f5514-7ee4-4199-8db8-5f4c01d1d7e6",
      "name": "Extract Voice Characteristics",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -1040,
        1100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io",
        "options": {}
      },
      "id": "de1af2a0-c70f-4f42-9dce-1029030008f7",
      "name": "Get Blog",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3820,
        760
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://blog.n8n.io{{ $json.article }}",
        "options": {}
      },
      "id": "3f161980-e659-4742-bccc-3a1642ff7790",
      "name": "Get Article",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2680,
        760
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "article",
              "cssSelector": ".item.post a.global-link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "7c8fe7d4-c683-4c2c-9068-9fb30e030b45",
      "name": "Extract Article URLs",
      "type": "n8n-nodes-base.html",
      "position": [
        -3540,
        760
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "article",
        "options": {}
      },
      "id": "ec459869-bbbe-4e72-b320-8a9e789341e4",
      "name": "Split Out URLs",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -3240,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "c4347be1-cfaa-455b-9cc0-5d8583d235f8",
      "name": "Latest Articles",
      "type": "n8n-nodes-base.limit",
      "position": [
        -2960,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": ".post-section",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "id": "012a45dd-566f-4798-832d-3bee322d6bba",
      "name": "Extract Article Content",
      "type": "n8n-nodes-base.html",
      "position": [
        -2400,
        760
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "7e8e6df4-ac16-490b-b145-80c6123a1fe4",
      "name": "Combine Articles",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -1640,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "912f9ea0-a32d-4c49-bbe7-5238d820960e",
      "name": "Article Style & Brand Voice",
      "type": "n8n-nodes-base.merge",
      "position": [
        -220,
        620
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "title": "={{ $json.output.title }}",
        "additionalFields": {
          "content": "={{ $json.output.body }}",
          "slug": "={{ $json.output.title.toSnakeCase() }}",
          "status": "draft",
          "format": "standard"
        }
      },
      "id": "13d88cde-8422-4b27-a5bd-e4eff94be9cf",
      "name": "Save as Draft",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        1160,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1. 匯入現有內容\n了解更多關於 HTML 節點的資訊\n首先，我們需要收集想要複製的品牌聲音的現有內容。這些內容可以是部落格文章、社群媒體貼文或內部文件 - 主要目的是用這些內容來「訓練」我們的 AI，讓它能夠根據提供的範例產生具有相同風格的內容。值得注意的是，內容的品質和一致性對於獲得理想結果非常重要。\n在這個示範中，我們會從一個企業部落格抓取最新的文章作為範例。由於部落格文章因為來源相同和主題焦點較窄，通常風格一致，所以很適合用來展示這個工作流程的效果。\n\n這種方法可以使用其他類型的資料，例如 PDF 文件、社群媒體貼文、新聞稿或公司內部文件，只要這些內容能夠被轉換成文字格式提供給 AI 語言模型即可。關鍵是要確保這些內容能夠代表你想要模仿的品牌聲音和寫作風格。",
        "height": 984,
        "width": 1946,
        "color": 7
      },
      "id": "a3ca170b-7b63-4e91-9d96-b55ef178cd48",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4100,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. 將 HTML 轉換為 Markdown\n\nMarkdown 是優化我們發送給 AI 語言模型的文章資料的絕佳方式，因為它能減少所需的 tokens 數量，同時保留所有相關的寫作結構資訊。\n另外，獲得 Markdown 格式的回應也很實用，因為這通常是作者偏好的撰寫格式。透過這種方式，我們可以同時節省 API 費用並維持文章的結構完整性。",
        "height": 550,
        "width": 654,
        "color": 7
      },
      "id": "1781c90a-5fd8-4d6f-9101-1185697e558b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2060,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. 使用 AI 分析文章結構和寫作風格\n[了解更多關於 Basic LLM Chain 節點的資訊](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm)\n\n我們的方法是先對所有可用文章進行高層次分析，目的是掌握它們的內容布局和寫作風格特點。這個分析結果將作為指南，幫助 AI 在生成新內容時能夠依循相同的結構模式。\n\n通過這種方式，AI 可以學習如何組織段落、使用標題、安排文章內容，以及維持一致的寫作語調，讓生成的新文章看起來就像是同一個作者或團隊創作的。",
        "height": 433,
        "width": 646,
        "color": 7
      },
      "id": "9bd7e032-f74d-4b84-89d8-20bfd280639d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1300,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.join('\\n---\\n') }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Given the following one or more articles (which are separated by ---), describe how best one could replicate the common structure, layout, language and writing styles of all as aggregate."
            }
          ]
        }
      },
      "id": "6c3dde2d-47ab-487c-a414-7f4d435a5c2a",
      "name": "Capture Existing Article Structure",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -1140,
        360
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "id": "89011e53-11a5-478d-83cb-a6f286472370",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        -1980,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. 使用 AI 抓取品牌內容特色\n\n第二步，我們會使用 AI 分析先前文章中的品牌內容特色。這個過程會識別出文章使用的語調、風格和用詞選擇，並將它們歸納為不同類別。這些類別將作為 AI 的標準，確保未來生成的文章在語調和用詞上能夠保持一致。\n\n通過這種分析，AI 可以辨識出品牌是使用專業、幽默、親切還是正式的語調，以及常用的表達方式和專業術語，從而在生成新內容時保持相同的品牌形象。",
        "height": 553,
        "width": 666,
        "color": 7
      },
      "id": "00ebdf32-0e23-42a4-ae68-38c22a0aad2d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1180,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 5. 使用 AI 自動生成符合品牌風格的文章\n\n最後透過這種方法，我們可以將前面分析的文章結構和品牌聲音特徵作為指導方針，輸入到最終的 AI 語言模型 — 我們的內容生成代理 — 來產生任意數量的符合品牌風格的文章、社群媒體貼文等內容。\n在評估輸出結果時，你會發現 AI 在模擬格式和重複使用目標文章的常見詞語與表達方式上做得相當不錯。不過，這樣的生成內容可能很快就會變得重複單調！雖然 AI 可以幫助加速內容創作過程，但人工編輯的參與仍然很重要，可以增加一些變化和創意，確保內容保持新鮮感。\n多試幾次就上手了，沒什麼難的！連我這種理科苦手都能搞懂，你肯定也行。",
        "height": 633,
        "width": 1026,
        "color": 7
      },
      "id": "f5c03967-c097-445a-9fff-f2cdecd58949",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.instruction }}",
        "attributes": {
          "attributes": [
            {
              "name": "title",
              "description": "title of article",
              "required": true
            },
            {
              "name": "summary",
              "description": "summary of article",
              "required": true
            },
            {
              "name": "body",
              "description": "body of article",
              "required": true
            },
            {
              "name": "characteristics",
              "description": "comma delimited string of characteristics chosen",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=You are a blog content writer who writes using the following article guidelines. Write a content piece as requested by the user. Output the body as Markdown. Do not include the date of the article because the publishing date is not determined yet.\n\n## Brand Article Style\n{{ $('Article Style & Brand Voice').item.json.text }}\n\n##n Brand Voice Characteristics\n\nHere are the brand voice characteristic and examples you must adopt in your piece. Pick only the characteristic which make sense for the user's request. Try to keep it as similar as possible but don't copy word for word.\n\n|characteristic|description|examples|\n|-|-|-|\n{{\n$('Article Style & Brand Voice').item.json.output.map(item => (\n`|${item.characteristic}|${item.description}|${item.examples.map(ex => `\"${ex}\"`).join(', ')}|`\n)).join('\\n')\n}}"
        }
      },
      "id": "e4c5626c-7334-4c35-9fca-356e5d07f20f",
      "name": "Content Generation Agent",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        380,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 6. 將草稿儲存到 WordPress\n\n最後一步，我們會將 AI 生成的文章儲存為 WordPress 草稿，這樣團隊成員就能在發布前審核和驗證文章內容。這個步驟很重要，因為人工編輯可以檢查內容的準確性、增加一些個人觸感，並確保文章符合品牌的最終標準。\n就先講到這，有問題來社群找我嘿！",
        "height": 213,
        "width": 406,
        "color": 7
      },
      "id": "fbb02053-253f-4d07-ac90-b575cbe6d220",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 問：有需要為每篇文章重新分析品牌內容特色嗎？\n答：不需要！我建議你將 AI 分析的結果儲存下來，並在計劃的一系列文章中重複使用，而不是每次都重新生成分析。這樣可以節省時間和 API 費用，同時確保所有生成的內容保持一致的品牌風格。最好是定期（例如每季度）更新一次分析，以反映品牌聲音的任何演變。",
        "height": 220,
        "width": 500,
        "color": 5
      },
      "id": "e771a7e0-6264-4a2c-b1dc-126763bb49d4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Before You Start\n這種方法可以讓你快速產出一系列與品牌調性一致的部落格文章草稿，並保持與現有內容的連貫性。\n\n## 運作原理\n在這個示範中，我們使用 n8n.io 部落格作為現有內容的來源，透過 HTTP 節點匯入最新的 5 篇文章。\nHTML 節點提取文章主體，然後轉換為 Markdown 格式供 AI 模型處理，這樣可以減少 tokens 用量。\n我們使用 LLM 節點執行兩項分析：\n(1) 理解文章結構和寫作風格\n(2) 識別文章中使用的品牌聲音特徵。\n這些分析結果作為指導方針，輸入到最終的 LLM 節點來生成新文章。\n最後，生成的文章會自動儲存為 WordPress 草稿，讓編輯人員可以審核或作為自己創作的起點。\n\n## 如何使用\n\n### 修改第一步，從你想要的部落格獲取資料，或用其他方式匯入現有內容（如社群媒體貼文或內部文件）。\n\n### 修改第五步，提供你想要的新文章指示。為了獲得最佳成果，主題最好與你的品牌相關。\n\n記住，內容的品質和一致性對於獲得理想結果非常重要，選擇的範例文章會直接影響生成內容的風格。\n\n\n關於這個節點的作者\n公司名稱: 好事發生數位\n公司網址: https://ohya.co\nLINE 社群: [點我加入 LINE 群組](\nhttps://line.me/ti/g2/bfnrSbbUE56PISKtQa9KK5gqpMhed_DXf-hmQw?utm_source=invitation&utm_medium=link_copy&utm_campaign=default)\n聯絡信箱: gary@ohya.co\nThreads: https://www.threads.net/@ohya.studio",
        "height": 800,
        "width": 400
      },
      "id": "b219e73f-84e3-4986-a5c9-f3569a477fcd",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4560,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c7e2a28-30f9-4533-a394-a5e967ebf4ec",
              "name": "instruction",
              "type": "string",
              "value": "=Write a comprehensive guide on using AI for document classification and document extraction. Explain the benefits of using vision models over traditional OCR. Close out with a recommendation of using n8n as the preferred way to get started with this AI use-case."
            }
          ]
        },
        "options": {}
      },
      "id": "35e9bc3d-b298-46e2-920f-7572d38aa1da",
      "name": "New Article Instruction",
      "type": "n8n-nodes-base.set",
      "position": [
        200,
        620
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "Get Blog 說明：\n這個 HTTP Request 節點負責獲取 n8n 部落格首頁的內容。\n\nURL 欄位：設定為 \"https://blog.n8n.io\"，指定要請求的網站網址\nOptions 欄位：保持預設空值，表示使用標準 HTTP 請求設定\n這個節點會回傳完整的部落格首頁 HTML，作為後續擷取文章連結的資料來源。",
        "height": 300,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3880,
        940
      ],
      "id": "4bc20650-9985-4c21-809f-71a8d0e65df9",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Extract Article URLs 說明：\n這個 HTML 節點負責從部落格首頁 HTML 中提取所有文章的連結。\n\nOperation 欄位：設為 \"extractHtmlContent\"，表示要從 HTML 中提取特定內容\n\nCSS Selector 欄位：設為 \".item.post a.global-link\"，這個選擇器精確定位每篇文章的連結元素\n\nAttribute 欄位：設為 \"href\"，表示要獲取連結的 href 屬性值\n\nReturn Array 欄位：設為 true，表示會返回多個符合條件的結果\n\nReturn Value 欄位：設為 \"attribute\"，表示只返回指定的屬性值而非整個 HTML 元素\n輸出會是一個包含所有文章連結的陣列。",
        "height": 500,
        "width": 270
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3620,
        940
      ],
      "id": "3cf10323-1c57-4f29-9421-131b9b25ca7f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Split Out URLs 說明：\n這個 Split Out 節點將上一步獲取的文章連結陣列拆分為單獨項目。\n\nField To Split Out 欄位：設為 \"article\"，指定要拆分的欄位名稱\nOptions 欄位：保持預設空值，使用標準拆分設定\n這個節點會讓每個文章連結單獨進入後續流程，實現並行處理多篇文章。",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3300,
        940
      ],
      "id": "17a69327-2126-48a5-aad8-795484dac66c",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Latest Articles 說明：\n這個 Limit 節點限制只處理最近的幾篇文章。\n\nMax Items 欄位：設為 5，指定最多只處理 5 篇文章\n通過限制處理數量，可以減少 API 呼叫次數和整體執行時間，同時還能降低 API 使用費用。",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3020,
        940
      ],
      "id": "1d932abe-9a02-4527-ae50-78f3e466c8ed",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Get Article 說明：\n這個 HTTP Request 節點負責獲取每篇文章的完整內容。\n\nURL 欄位：設為動態值 \"=https://blog.n8n.io{{ $json.article }}\"，組合基礎網址和文章路徑\nOptions 欄位：保持預設空值，使用標準 HTTP 請求設定\n這個節點會獲取每篇文章的完整 HTML 內容，用於後續擷取文章主體。",
        "height": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2740,
        940
      ],
      "id": "daaf752b-2116-422d-b816-07e975f3473f",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "Extract Article Content 說明：\n這個 HTML 節點從每篇文章的 HTML 中提取主要內容。\n\nOperation 欄位：設為 \"extractHtmlContent\"，指定要擷取 HTML 內容\nCSS Selector 欄位：設為 \".post-section\"，精確定位文章主體部分\nKey 欄位：設為 \"data\"，指定輸出結果的欄位名稱\nReturn Value 欄位：設為 \"html\"，表示返回完整的 HTML 內容而不只是文字\n這個節點會提取完整的文章 HTML 內容，保留原始格式供後續處理。",
        "height": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2460,
        940
      ],
      "id": "5a5e2f2e-e774-4bdb-bde7-bc13503c8c94",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "Markdown 說明：\n這個 Markdown 節點將 HTML 格式的文章內容轉換為 Markdown 格式。\n\nHTML 欄位：設為動態值 \"={{ $json.data }}\"，引用上一步擷取的 HTML 內容\nOptions 欄位：保持預設空值，使用標準轉換設定\n將 HTML 轉為 Markdown 可以減少傳送給 AI 的 tokens 數量，同時保留文章結構，提高處理效率。",
        "height": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2040,
        940
      ],
      "id": "be204b41-1d8e-4267-99c4-f92a3fe589a1",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "Combine Articles 說明：\n這個 Aggregate 節點將所有處理過的文章內容合併成一個單一資料集。\n\nFields To Aggregate 欄位：設為 \"data\"，指定要合併的內容欄位\nMerge Lists 選項：設為 true，確保正確合併多個列表項目\n合併文章方便後續 AI 統一分析多篇文章的共同特徵，得到更全面的結果。",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        940
      ],
      "id": "89d52342-1ac7-4c34-8105-0e0b7cde80f2",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "Capture Existing Article Structure 說明：\n這個 LLM Chain 節點分析文章結構和寫作風格。\n\nText 欄位：設為動態值 \"={{ $json.data.join('\\n---\\n') }}\"，將多篇文章用分隔符串連\n\nMessage 欄位：包含提示詞 \"Given the following one or more articles...\"，指導 AI 分析文章結構\n\nPrompt Type 欄位：設為 \"define\"，指定使用自定義提示詞\n\n這個節點會分析所有文章的共同結構、布局、語言和寫作風格，作為生成新文章的指南。",
        "height": 280,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        500
      ],
      "id": "0a207d8e-dfb6-45e7-ac3a-d0d51c88af0e",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "Extract Voice Characteristics 說明：\n這個 Information Extractor 節點分析品牌聲音特徵。\n\nText 欄位：設為複雜的動態值，處理並分析文章內容\n\nSystem Prompt Template 欄位：包含指導 AI 提取品牌聲音特徵的提示詞\n\nSchema Type 欄位：設為 \"manual\"，表示使用自定義輸出結構\n\nInput Schema 欄位：定義了輸出格式，包含特徵名稱、描述和範例\n這個節點會識別和提取文章中的品牌聲音特徵，如語調、風格和用詞選擇等。",
        "height": 260,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        1260
      ],
      "id": "264a3d99-ba74-4a0d-a771-1e6ebaeeeb5d",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Article Style & Brand Voice 說明：\n這個 Merge 節點將文章結構分析和品牌聲音特徵合併在一起。\n\nMode 欄位：設為 \"combine\"，指定合併模式\n\nCombine By 欄位：設為 \"combineByPosition\"，按位置合併數據\n\nOptions 欄位：保持預設空值，使用標準合併設定\n\n合併後的結果包含完整的寫作指南，用於生成符合品牌風格的新文章。",
        "height": 380,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        840
      ],
      "id": "f447b2f2-98ef-4c4e-902a-505993575280",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## New Article Instruction 說明：\n這個 Set 節點設定新文章的主題和生成要求。\n\nAssignments 欄位：創建名為 \"instruction\" 的變數，值為生成文章的具體指令\n設定的指令要求 AI 寫一篇關於使用 AI 進行文件分類和提取的指南，並推薦使用 n8n 作為首選工具。",
        "height": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        820
      ],
      "id": "c10a57fa-bf20-46ce-bfb6-f5b548e85f28",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Content Generation Agent 說明：\n這個 Information Extractor 節點根據前面分析的結果生成新文章。\n\nText 欄位：設為 \"={{ $json.instruction }}\"，引用上一步設定的指令\n\nSystem Prompt Template 欄位：包含複雜的提示詞，結合文章風格和品牌聲音指南\n\nAttributes 欄位：定義輸出結構，包含標題、摘要、正文和使用的特徵\n\n這個節點會根據分析結果和指令生成一篇符合品牌風格的新文章。",
        "height": 360,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        940
      ],
      "id": "f4d3bf7a-84f2-4c78-b43a-7066f480cabd",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Save as Draft 說明：\n這個 WordPress 節點將生成的文章保存為 WordPress 草稿。\n\nTitle 欄位：設為動態值 \"={{ $json.output.title }}\"，使用生成文章的標題\n\nSlug 欄位：設為動態值 \"={{ $json.output.title.toSnakeCase() }}\"，將標題轉換為適合 URL 的格式\n\nFormat 欄位：設為 \"standard\"，指定文章格式\n\nStatus 欄位：設為 \"draft\"，指定文章狀態為草稿\n\nContent 欄位：設為動態值 \"={{ $json.output.body }}\"，使用生成的文章正文\n\n將文章保存為草稿，方便人工審核和進一步編輯後再發布。",
        "height": 460,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        560
      ],
      "id": "10d89973-a351-405d-9e11-fd6ed9e0330a",
      "name": "Sticky Note21"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-02T23:21:13.845Z",
  "versionId": "bef04c83-8da8-4349-8279-cab65e2e2efa"
}