workflows/C7J2eY74c0iQA2Zb.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "fetch single products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create string": {
      "main": [
        [
          {
            "node": "if updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update sheets": {
      "main": [
        [
          {
            "node": "create string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sheets": {
      "main": [
        [
          {
            "node": "update sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch data": {
      "main": [
        [
          {
            "node": "get sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch single products": {
      "main": [
        [
          {
            "node": "fetch data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if updated": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "fetch result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch all products url": {
      "main": [
        [
          {
            "node": "remove default link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "edit THIS": {
      "main": [
        [
          {
            "node": "schema builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "schema builder": {
      "main": [
        [
          {
            "node": "fetch all products url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove default link": {
      "main": [
        [
          {
            "node": "start scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch result": {
      "main": [
        [
          {
            "node": "result gathered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start scraping": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "result gathered?": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "wait more",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait more": {
      "main": [
        [
          {
            "node": "fetch results again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch results again": {
      "main": [
        [
          {
            "node": "result gathered?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "result gathered?1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch sheet data": {
      "main": [
        [
          {
            "node": "update sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "fetch sheet data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create string1": {
      "main": [
        [
          {
            "node": "if updated1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update sheets1": {
      "main": [
        [
          {
            "node": "create string1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if updated1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-21T17:17:12.877Z",
  "id": "C7J2eY74c0iQA2Zb",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "爬三",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c6a51066-3095-4de3-9874-35b66e4b21af",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "subject": "Website Update",
        "emailType": "text",
        "message": "={{ $json.messages }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        220
      ],
      "id": "57cbcc49-2690-4c47-bab4-3cf2206c37cc",
      "name": "Gmail",
      "webhookId": "11da2920-4106-448d-8567-6d2d6e2132b7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "35a07301-b8b3-4ccf-84f9-b11b3a5594fc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const recentlyFetchedData = $(\"fetch data\").all();\nconst inDatabase = $(\"get sheets\")\n  .all()\n  .map((item) => item.json);\n\nlet messages = \"\";\n\nrecentlyFetchedData.forEach((fetchedItem) => {\n  const matchedItem = inDatabase.find(\n    (dbItem) => dbItem.product_name === fetchedItem.json.product_name,\n  );\n\n  if (!matchedItem) {\n    messages += `Product (${fetchedItem.json.product_name}), price updated! From N/A to ${fetchedItem.json.price}.\\n`;\n  } else {\n    if (fetchedItem.json.price != matchedItem.price) {\n      messages += `Product (${fetchedItem.json.product_name}), price updated! From ${matchedItem.price} to ${fetchedItem.json.price}.\\n`;\n    }\n  }\n});\n\ninDatabase.forEach((dbItem) => {\n  const stillExists = recentlyFetchedData.find(\n    (fetchedItem) => fetchedItem.json.product_name === dbItem.product_name,\n  );\n\n  if (!stillExists) {\n    messages += `Product (${dbItem.product_name}) deleted!\\n`;\n  }\n});\n\nreturn {\n  json: {\n    messages,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        280
      ],
      "id": "b57c4162-690a-4d9e-84bd-f7546dd94315",
      "name": "create string"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY",
          "mode": "list",
          "cachedResultName": "Competitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_name": "={{ $('fetch data').item.json.product_name }}",
            "price": "={{ $('fetch data').item.json.price }}",
            "descritpion": "={{ $('fetch data').item.json.description }}",
            "updatedAt": "={{ $now.format(\"LL/dd/yyyy H:mm:ss\") }}"
          },
          "matchingColumns": [
            "product_name"
          ],
          "schema": [
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descritpion",
              "displayName": "descritpion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        280,
        280
      ],
      "id": "1b8a9ce3-e83d-44e5-bc7d-6ee6386972ff",
      "name": "update sheets"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY",
          "mode": "list",
          "cachedResultName": "Competitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY/edit#gid=0"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          },
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        60,
        280
      ],
      "id": "be22e1f9-d0b0-4a05-8331-0f239cd4fc8b",
      "name": "get sheets",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": ".text-2xl"
            },
            {
              "key": "product_name",
              "cssSelector": ".font-semibold, .tracking-tight, .text-3xl"
            },
            {
              "key": "description",
              "cssSelector": ".whitespace-pre-line"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        720,
        0
      ],
      "id": "95564fa3-361a-4fb9-bb30-bf18217b45be",
      "name": "fetch data"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "id": "0bb24d59-e00f-4002-bd92-51034a1c968b",
      "name": "fetch single products"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3fabd8e-b5fd-46ea-a0b6-5014a6b1ee82",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        280
      ],
      "id": "42834031-425a-40b9-b629-243f9c691b25",
      "name": "if updated"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -620,
        640
      ],
      "id": "5ca3c2aa-fe49-474b-9a2b-5462899d8bad",
      "name": "Wait",
      "webhookId": "7d012925-f08e-439f-93e6-9541dbbaefd7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/map",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('When clicking ‘Test workflow’').first().json.productsPageLink }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1240,
        640
      ],
      "id": "613f967d-bff7-498c-a69d-20d11f6631df",
      "name": "fetch all products url"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.messages) }}",
        "options": {
          "systemMessage": "You are a mail assistant. You receive updates from my competitor and send me an email objectively telling me what has changed from the competitor.\n\nYou have a gmail tool which you should use to send the email. It accepts two variables: email_subject and email_message."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -520,
        920
      ],
      "id": "801fd924-f9f6-4a1c-95f6-0fc78620daf7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -540,
        1080
      ],
      "id": "0f9aa46a-0f8c-44c0-ab15-d1bbbb0d2b43",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "711c2945-d26e-4869-bdc7-05f3a0202055",
              "name": "product_name",
              "value": "string",
              "type": "string"
            },
            {
              "id": "0fdb1089-642b-45ae-8aa2-0d5ab47a3a1d",
              "name": "description",
              "value": "string",
              "type": "string"
            },
            {
              "id": "88e1ec5a-2516-49dd-b28a-a4de04d633ee",
              "name": "price",
              "value": "number",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        640
      ],
      "id": "2c606a0e-8743-4cb7-8833-42de563debf7",
      "name": "edit THIS"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\n\nconst schema = {};\n\nObject.keys(inputData).forEach(key => {\n  const type = key === \"price\" ? \"number\" : \"string\";\n  schema[key] = { type };\n});\n\nconst promptFields = Object.keys(inputData).map(key => key.replace(/_/g, ' '));\nconst prompt = `Fetch these from the product: ${promptFields.join(', ')}`;\n\nreturn {\n  schema,\n  prompt\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1460,
        640
      ],
      "id": "f80c6053-b30d-4236-bf31-7430bba79264",
      "name": "schema builder"
    },
    {
      "parameters": {
        "jsCode": "const foundLinks = $input.first().json.links;\n\nconst mainLink = $(\"When clicking ‘Test workflow’\").first().json.productsPageLink;\n\nconst filteredLinks = foundLinks.filter(link => link !== mainLink)\n\nreturn {filteredLinks};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        640
      ],
      "id": "80c3bd74-a908-4064-a776-ff3626419aa1",
      "name": "remove default link"
    },
    {
      "parameters": {
        "url": "=https://api.firecrawl.dev/v1/batch/scrape/{{ $('start scraping').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        640
      ],
      "id": "63978060-2031-456f-b47c-4671afd37e69",
      "name": "fetch result"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/batch/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": \n    {{ JSON.stringify($json.filteredLinks) }},\n  \"formats\": [\"extract\"],\n  \"extract\": {\n    \"prompt\": {{ JSON.stringify($('schema builder').first().json.prompt) }},\n    \"schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {{ JSON.stringify($('schema builder').first().json.schema) }},\n            \"required\": [\"product_name\", \"id\", \"price\"]\n          }\n      },\n      \"required\": [\"products\"]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        640
      ],
      "id": "f6a597b6-a87e-4953-be6c-e5f615f953d1",
      "name": "start scraping"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "150447e2-7e49-4997-9911-dd957a2ee9fa",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        640
      ],
      "id": "c553d2d8-6ff3-4fba-b539-1a3cf1d7d4b2",
      "name": "result gathered?"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -120,
        860
      ],
      "id": "aba73cae-26e1-497f-9ab5-86667b3d2699",
      "name": "wait more",
      "webhookId": "7d012925-f08e-439f-93e6-9541dbbaefd7"
    },
    {
      "parameters": {
        "url": "=https://api.firecrawl.dev/v1/batch/scrape/{{ $('start scraping').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        940
      ],
      "id": "0d5e3995-078d-4115-879f-041e4d42996a",
      "name": "fetch results again"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "150447e2-7e49-4997-9911-dd957a2ee9fa",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        1040
      ],
      "id": "1f8f2548-6228-42c5-9474-66bd83fc31ac",
      "name": "result gathered?1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY",
          "mode": "list",
          "cachedResultName": "Competitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY/edit#gid=0"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          },
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1460,
        940
      ],
      "id": "c05f4bbf-658f-4fb3-ac7c-cabb7f04e02b",
      "name": "fetch sheet data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "subject": "={{ $fromAI('email_subject') }}",
        "emailType": "text",
        "message": "={{ $fromAI('email_message') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -320,
        1080
      ],
      "id": "0c66817f-a33c-4487-adcd-b1fdbd35694b",
      "name": "Gmail1",
      "webhookId": "d108408f-0bad-4537-b509-931d2567c160"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        420,
        620
      ],
      "id": "7f344398-8310-438a-a083-31a2b71b2910",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "const recentlyFetchedData = $('Split Out1').all();\nconst inDatabase = $('fetch sheet data').all().map(item => item.json);\n\nlet messages = '';\n\nrecentlyFetchedData.forEach(fetchedItem => {\n    const matchedItem = inDatabase.find(dbItem => dbItem.product_name === fetchedItem.json.extract.items.product_name);\n\n    if (!matchedItem) {\n        messages += `Product (${fetchedItem.json.extract.items.product_name}), price updated! From N/A to $${fetchedItem.json.extract.items.price}.\\n`;\n    } else {\n        if (fetchedItem.json.extract.items.price.toString() != matchedItem.price) {\n            messages += `Product (${fetchedItem.json.extract.items.product_name}), price updated! From $${matchedItem.price} to $${fetchedItem.json.extract.items.price}.\\n`;\n        }\n    }\n});\n\ninDatabase.forEach(dbItem => {\n    const stillExists = recentlyFetchedData.find(fetchedItem => fetchedItem.json.extract.items.product_name === dbItem.product_name);\n\n    if (!stillExists) {\n        messages += `Product (${dbItem.product_name}) deleted!\\n`;\n    }\n});\n\nreturn {\n    json: {\n        messages\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        940
      ],
      "id": "aabe1af7-3349-4649-9a4b-b1b65e7592af",
      "name": "create string1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY",
          "mode": "list",
          "cachedResultName": "Competitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14ofngZk2SYdYmRpVzq1Rf_0wmLLw1gCkWuUA7XVdUcY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_name": "={{ $('Split Out1').item.json.extract.items.product_name }}",
            "price": "={{ $('Split Out1').item.json.extract.items.price }}",
            "descritpion": "={{ $('Split Out1').item.json.extract.items.description }}",
            "updatedAt": "={{ $now.format(\"LL/dd/yyyy H:mm:ss\") }}"
          },
          "matchingColumns": [
            "product_name"
          ],
          "schema": [
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descritpion",
              "displayName": "descritpion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1200,
        940
      ],
      "id": "ea0b8cac-a9ea-44d4-acb6-2164d88e5e25",
      "name": "update sheets1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3fabd8e-b5fd-46ea-a0b6-5014a6b1ee82",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        940
      ],
      "id": "346b04b5-7fb4-4a9f-a9f0-fd4557e7dca6",
      "name": "if updated1"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "links": [
            "https://buildaiinpublic.com/shop/1",
            "https://buildaiinpublic.com/shop/2"
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-21T17:23:28.781Z",
  "versionId": "11ac4d4b-a631-4b4f-a88b-689204e82f73"
}