workflows/sVbUUrzZ3iZPZCOE.json
{
  "active": false,
  "connections": {
    "021up Notion": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-20T02:10:01.768Z",
  "id": "sVbUUrzZ3iZPZCOE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Notion",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8599b61-f55b-4abe-b221-b6b3a5b4a564",
              "leftValue": "={{ $json.properties.Status.status.name }}",
              "rightValue": "Done",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        20
      ],
      "id": "d58d03ff-64bc-4e9e-ba3f-d62ca5bcae21",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "55668a30-5cf7-48d0-98a8-d135813f5aac",
          "mode": "list",
          "cachedResultName": "News",
          "cachedResultUrl": "https://www.notion.so/55668a305cf748d098a8d135813f5aac"
        },
        "simple": false
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a3f3b765-1e22-4d33-a5ee-2662f619118c",
      "name": "021up Notion",
      "credentials": {
        "notionApi": {
          "id": "HQh0SKgkF6QlvxQC",
          "name": "021up Notion"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-4640467075",
        "text": "=測試鏈接 {{ $json.public_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        360,
        -80
      ],
      "id": "a0a7ebfd-929c-4389-820d-54704ace007a",
      "name": "Telegram",
      "webhookId": "23a47ada-30ab-4580-9e26-f359f2d50549",
      "credentials": {
        "telegramApi": {
          "id": "ilvfRLpiZ6bOxTWB",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-20T11:28:41.829Z",
  "versionId": "549e92ab-95d8-40dc-b72c-a83408dfe202"
}